# Data files (too large for GitHub)
data/
*.csv
*.parquet

# Virtual environment
fraud_env/

# Logs
logs/

# Python cache
__pycache__/
*.pyc
*.pyo

# Reports (uncommented so they deploy to Streamlit Cloud)
# reports/

# VS Code
.vscode/

# Windows
Thumbs.db